
<div class="bg-[#3778c2] flex justify-between items-center text-white p-4 py-6">
<%= link_to root_path do %>
          <%= image_tag("https://img.icons8.com/ios/50/long-arrow-left.png", alt: "exit", width: 20, height: 20) %>
          <% end %>
          <h2> REGISTER </h2>
          <button id="signup" class="text-white text-[14px]" onclick="document.getElementById('submit_2').click()">Next</button>

  </div>
  <%= render 'shared/notice'%>
<div class="flex flex-col justify-center p-4 bg-white">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="p-4 field mt-4 flex items-center">
        <img class="cursor-pointer w-[50px] mr-[14px] " src="https://img.icons8.com/ios/50/user-male-circle--v1.png">
        <h3 class="text-[#babfc6]">Upload picture</h3>
      </div>
      <hr class="w-full h-1">

    <div class="mb-4">
      <%= f.text_field :name, autofocus: true, autocomplete: "email", class: "w-full py-2 px-3 text-gray-700 border-transparent focus:border-transparent focus:ring-0 placeholder-[#babfc6]", placeholder:"Full Name" %>
    </div>
          <hr class="w-full h-1">

    <div class="mb-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full py-2 px-3 text-gray-700 border-transparent focus:border-transparent focus:ring-0 placeholder-[#babfc6]" , placeholder:"Email"%>
    </div>
          <hr class="w-full h-1">


    <div class="mb-4">
      <% if @minimum_password_length %>
    <em class="text-gray-400">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "w-full py-2 px-3 text-gray-700 border-transparent focus:border-transparent focus:ring-0 placeholder-[#babfc6]", placeholder:"Password" %>
    </div>
          <hr class="w-full h-1">

      <div class="mb-4">
      <%= f.text_field :password_confirmation, autofocus: true, autocomplete: "new password", class: "w-full py-2 px-3 text-gray-700 border-transparent focus:border-transparent focus:ring-0 placeholder-[#babfc6]", placeholder:"Confirm Password" %>
    </div>

    <div>
    <%= f.submit 'Next', class:"hidden", id:"submit_2" %>
    </div>
    
  <% end %>
</div>
